.app-map-buildings-search{
    position: absolute;
    z-index: 1;
    top: 55px;
    right: 10px;
    width: 350px;
    padding: 0 !important;
}
mat-form-field {
    width: 100%;
}
mat-card-content{
    padding: 8px 16px  0 16px!important;
    margin-bottom: 0px;
}
mat-card {
    padding: 16px 0 0 0 !important;
}
mat-card-actions {
    text-align: center;
    padding: 0 0 8px 0 !important
}
.cs-form-button {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 19px;
}