.map-popup {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 100px;
    width: 350px;
    padding: 0 !important;
}
::ng-deep mat-card{
    padding: 16px 0 0 0 !important;
    height: 500px;
}
::ng-deep mat-tab-header {
    display: none !important;
}
.content-container {
    padding-top: 8px;
}
.record-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.record-container.active:hover{
    background: whitesmoke; 
    cursor: pointer;
}
.text-container {
    display: flex;
    flex-direction: column;
    flex: auto;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    
}
.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.icon {
    padding: 4px 0;
}
.main {
    font-size: 16px;
}
.second {
    font-size: 14px;
}
/* .buildings {
    overflow-y: auto;
    max-height: 375px;
} */
.option-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 2px;
    /* padding: 0 16px; */
}
.option-container > .record-container {
    align-items: flex-start;  
}
.record-container > label {
    font-size: 12px;
    color: rgba(0,0,0,0.6);
}
.option-value {
    padding: 0 16px 0 44px;
    margin-top: -24px;
}
.option-icon {
    padding-top: 20px;
    font-size: 18px;
}
.options-lest {
    overflow: hidden;
}
.p-16 {
    padding: 0 16px;
}
.pt-8{
    padding-top: 8px;
}
.mat-card-avatar {
    border-radius: 50%;
    object-fit: cover;
    order: -1;
    width: 26px;
    height: 32px;
    padding-left: 16px;
}
.mat-card-subtitle{
    margin-bottom: 0 !important;
}
::ng-deep.mat-card-header-text {
    width: 290px;
    margin: 0 8px !important;
}
::ng-deep.mat-card-content{
    max-height: 456px;
    overflow-x: auto;
}