<div class="map-popup mat-card" *ngIf="_organizations">   
    <mat-tab-group [(selectedIndex)]="viewIndex" disablePagination="true" class="fit-to-content">
        <mat-tab > 
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Список зданий</mat-card-title>
                    <mat-card-subtitle>{{usageType}}</mat-card-subtitle>
                    <div class="mat-card-avatar" *ngIf="usageType">
                        <img [src]="icons[usageType]" alt="">
                    </div>
                </mat-card-header>

                <mat-divider></mat-divider>

                <mat-card-content>
                    <ng-container *ngFor="let item of _organizations">

                        <div class="record-container p-16 pt-8" 
                            [matTooltip]="item.organization.name"
                            matTooltipPosition="right"
                        >
                            <div class="text-container main"> 
                                <div class="text ">
                                    <u>{{item.organization.name}}</u>
                                </div>
                            </div>
                        </div>

                        <div >
                            <div class="record-container active p-16" 
                                *ngFor="let build of item.buildings"
                                [matTooltip]="build.name"
                                matTooltipPosition="right"
                                (click)="onSelectBuilding(item, build)"
                                
                            >
                                <div class="text-container second"> 
                                    <div class="text ">
                                        • {{build.name}}
                                    </div>
                                </div>
                                <mat-icon  class="icon">keyboard_arrow_right</mat-icon>
                            </div>
                        </div>
                        
                    </ng-container>
                </mat-card-content>
            </mat-card>
        </mat-tab>

        <mat-tab>
            <mat-card>

                <mat-card-header>
                    <mat-card-title
                        [matTooltip]="selectedOrganization ? selectedOrganization.organization.name : ''"
                        matTooltipPosition="right"
                        class="text"
                    >
                        {{selectedOrganization ? selectedOrganization.organization.name : ''}}
                    </mat-card-title>
                    <mat-card-subtitle>{{usageType}}</mat-card-subtitle>
                    <div class="mat-card-avatar" *ngIf="usageType">
                        <img [src]="icons[usageType]" alt="">
                    </div>
                </mat-card-header>

                <mat-divider></mat-divider>   

                <mat-card-content>
                    <div class="record-container p-16" 
                        *ngIf="!isOneBuilding"
                        matTooltip="К списку зданий"
                        matTooltipPosition="right"
                        (click)="onSelectBuilding(null, selectedBuilding)"
                        [ngClass]="{ 'active': !isOneBuilding}"
                    >
                        
                        <mat-icon  class="icon" *ngIf="!isOneBuilding">keyboard_arrow_left</mat-icon>  
                        <div class="text-container main"> 
                            <div class="text ">
                                К списку зданий 
                            </div>
                        </div>
                        
                    </div>
                    <div class="p-16 pt-8" >
                        {{detailOfBuilding.buildingName}}
                    </div>
                    <div  class="options-lest" *ngIf="detailOfBuilding">
                        
                        <div style="display: flex;
                        flex-direction: row;">

                            <div class="option-container" style="width: 160px;">
                                <div class="record-container p-16">
                                    <mat-icon  class="option-icon">date_range</mat-icon> 
                                    <label>Год постройки</label>   
                                </div>
                                <div class="option-value">
                                    {{detailOfBuilding.yearOfConstruction}}
                                </div>
                            </div>

                            <div class="option-container">
                                <div class="record-container p-16">
                                    <mat-icon  class="option-icon">people</mat-icon> 
                                    <label>Посещений в смену</label>   
                                </div>
                                <div class="option-value">
                                    {{detailOfBuilding.planCountVisits}}
                                </div>
                            </div>
                            
                        </div>

                        <div style="display: flex;
                        flex-direction: row;">

                            <div class="option-container" style="width: 160px;">
                                <div class="record-container p-16">
                                    <mat-icon  class="option-icon">bar_chart</mat-icon> 
                                    <label>Этажей</label>   
                                </div>
                                <div class="option-value">
                                    {{detailOfBuilding.floors}}
                                </div>
                            </div>

                            <div class="option-container">
                                <div class="record-container p-16">
                                    <mat-icon  class="option-icon">crop_square</mat-icon> 
                                    <label>Общая площадь, кв.м.</label>   
                                </div>
                                <div class="option-value">
                                    {{detailOfBuilding.totalArea}}
                                </div>
                            </div>
                            
                        </div>

                        <div class="option-container">
                            <div class="record-container p-16">
                                <mat-icon  class="option-icon">location_on</mat-icon> 
                                <label>Адрес</label>   
                            </div>
                            <div class="option-value">
                                {{detailOfBuilding.address}}
                            </div>
                        </div>

                        <div class="option-container">
                            <div class="record-container p-16">
                                <mat-icon  class="option-icon">access_time</mat-icon> 
                                <label>Время работы</label>   
                            </div>
                            <div class="option-value">
                                {{detailOfBuilding.worktime}}
                            </div>
                        </div>

                        <div class="option-container">
                            <div class="record-container p-16">
                                <mat-icon  class="option-icon">phone</mat-icon> 
                                <label>Телефон</label>   
                            </div>
                            <div class="option-value">
                                {{detailOfBuilding.phone}}
                            </div>
                        </div>

                        <div class="option-container">
                            <div class="record-container p-16">
                                <mat-icon  class="option-icon">email</mat-icon> 
                                <label>Электронная почта</label>   
                            </div>
                            <div class="option-value">
                                {{detailOfBuilding.email}}
                            </div>
                        </div>

                        <div class="option-container">
                            <div class="record-container p-16">
                                <mat-icon  class="option-icon">link</mat-icon> 
                                <label>Официальный сайт</label>   
                            </div>
                            <div class="option-value">
                                <ng-container *ngIf="detailOfBuilding.site">
                                    <a [href]="detailOfBuilding.site" target="_blanck" class="text">{{detailOfBuilding.site}}</a>
                                </ng-container>
                                <ng-container *ngIf="!detailOfBuilding.site">-</ng-container>
                            </div>
                        </div>

                        <div class="option-container">
                            <div class="record-container p-16">
                                <mat-icon  class="option-icon">assignment</mat-icon> 
                                <label>Электронная регистратура</label>   
                            </div>
                            <div class="option-value">
                                <ng-container *ngIf="detailOfBuilding.eregistryUrl">
                                    <a [href]="detailOfBuilding.eregistryUrl" target="_blanck" class="text">{{detailOfBuilding.eregistryUrl}}</a>
                                </ng-container>
                                <ng-container *ngIf="!detailOfBuilding.eregistryUrl">-</ng-container>
                                
                            </div>
                        </div>

                    </div>
                </mat-card-content>
            </mat-card>
        </mat-tab>
    </mat-tab-group>     
</div>
