.med_map, .row{
    height: 100%;
    width: 100%;
}
.med_map{
    position: relative;
}


.m-button{
    position: absolute;
    z-index: 1;
    top: 167px;
    left: 22px;
}
.h-button{
    position: absolute;
    z-index: 1;
    top: 214px;
    left: 22px;
}
.p-button{
    position: absolute;
    z-index: 1;
    top: 105px;
    left: 14px;
}
.b-text{
    font-size: x-large;
}
.gerb{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
}
.gerb>img{
    width: 64px;
}

