

<div class="row">

    <app-map-popup 
        [inGroupOrganizationsSet]="clickedItems"
        [inSearchOganizationsSet]="searchedItems"
    ></app-map-popup>

    <app-map-layers-list [map]="map" [layersGroup]="layersGroup"></app-map-layers-list>

    <app-map-buildings-search
        (searchBuildingsEvent)="onSearchBuildings($event)"
    ></app-map-buildings-search>

    <div class="tooltip" 
    #tooltip 
    [ngClass]="{'no-display': !hoveredItems}"
>
    <mat-card>
        <mat-card-header>
            <ng-container *ngFor="let item of hoveredItems ">
                <mat-card-title>{{item.organization.name}}</mat-card-title>
                <mat-card-subtitle *ngFor="let build of item.buildings"> • {{build.name}}</mat-card-subtitle>
            </ng-container>
        </mat-card-header>
    </mat-card>
</div>
    <div class="med_map" #med_map>
        <a href="http://belzdrav.ru/" 
            target="_blank" 
            class="gerb"
            matTooltip="Департамент здравоохранения и социальной защиты населения Белгородской области"
            matTooltipPosition="right"
        >
            <img [src]="imgUrl + '/assets/img/logo.png'">
        </a>
 
        <div class="zoom" #zoom>
            <button mat-fab  
                class="p-button" 
                aria-label="Zoom in" 
                [disabled]="zoomInDisabled()"
                (click)="zoomChange(1)"
                matTooltip="Приблизить карту"
            >
                <span class="b-text"> + </span>
            </button>
            <button mat-mini-fab 
                class="m-button" 
                aria-label="Zoom out" 
                [disabled]="zoomOutDisabled()"
                (click)="zoomChange(-1)"
                matTooltip="Отдалить карту"
            >
                <span class="b-text"> - </span>
            </button>
            <button mat-mini-fab 
                class="h-button" 
                aria-label="Zoom init" 
                (click)="mapInit()"
                matTooltip="Начальное состояние карты"
            >
                <mat-icon>home</mat-icon>
            </button>
        </div>
    </div>  
</div>
