
<mat-tab-group 
    [(selectedIndex)]="viewIndex" 
    disablePagination="true" 
    class="fit-to-content mat-card p-0" 
    *ngIf="inGroupOrganizations || inSearchOrganizations"
>
    <mat-tab > 
        <app-popup-list
            [organizations]="inGroupOrganizations"
            [usageType]="usageType"
            (selectBuildingEvent)="onSelectBuilding($event)"    
            title="Список зданий в группе"
        >
        </app-popup-list>
    </mat-tab>

    <mat-tab > 
        <app-popup-list
            [organizations]="inSearchOrganizations"
            (selectBuildingEvent)="onSelectBuilding($event)"   
            title="Результаты поиска"
        >
        </app-popup-list>
    </mat-tab>

    <mat-tab>
        <app-popup-detail
            [building]="selectedBuilding"   
            [organization]="selectedOrganization ? selectedOrganization : null" 
            [isOneBuilding]="isOneBuilding"
            [usageType]="usageType"
            [fromId]="parentViewIndex" 
            (returnEvent)="onReturn($event)"
        >
        </app-popup-detail>
    </mat-tab>
</mat-tab-group>     
