<mat-card>
    <mat-card-header class="popup-detail-fix">
        <mat-card-title
            [matTooltip]="organization ? organization.name : ''"
            matTooltipPosition="right"
            class="no-wrap-text"
        >
            {{organization ? organization.name : ''}}
        </mat-card-title>
            
            <mat-card-subtitle *ngIf="usageType">{{usageType.name}}</mat-card-subtitle>
            <div class="mat-card-avatar" *ngIf="detailOfBuilding">

                <img *ngIf="!isHavePhoto()" [src]="icons[usageType.id]" alt="">
                <mat-spinner diameter="50" *ngIf="isLoadingPhoto()"></mat-spinner>
                <div *ngIf="buildingPhoto" class="image-container" [style.background-image]="'url(' + buildingPhoto + ')'"></div>

            </div>

    </mat-card-header>

    <mat-divider></mat-divider>   

    <mat-card-content>
        <div class="record-container p-16" 
            *ngIf="!isOneBuilding"
            matTooltip="К списку зданий"
            matTooltipPosition="right"
            (click)="return()"
            [ngClass]="{ 'active': !isOneBuilding}"
        >
            
            <mat-icon  class="icon" *ngIf="!isOneBuilding">keyboard_arrow_left</mat-icon>  
            <div class="text-container main"> 
                <div class="no-wrap-text">
                    К списку зданий 
                </div>
            </div>
            
        </div>
        <div  *ngIf="detailOfBuilding">

            <!-- <div class="title-text" >
                <mat-icon  class="option-icon">gps_fixed</mat-icon>
                {{detailOfBuilding.name}}
            </div> -->

            <div class="record-container active p-16" 
                matTooltip="Показать на карте"
                matTooltipPosition="right"
                (click)="extentToMap($event.target)"
            >
            
                <mat-icon  class="icon">gps_fixed</mat-icon>  
                <div class="text-container main"> 
                    <div class="no-wrap-text">
                        {{detailOfBuilding.name}}
                    </div>
                </div>
            
            </div>

            <div  class="options-lest" >
                
                <div style="display: flex;
                flex-direction: row;">

                    <div class="option-container" style="width: 160px;">
                        <div class="record-container p-16">
                            <mat-icon  class="option-icon">date_range</mat-icon> 
                            <label>Год постройки</label>   
                        </div>
                        <div class="option-value">
                            {{detailOfBuilding.yearOfConstruction || '-'}}
                        </div>
                    </div>

                    <div class="option-container">
                        <div class="record-container p-16">
                            <mat-icon  class="option-icon">people</mat-icon> 
                            <label>Посещений в смену</label>   
                        </div>
                        <div class="option-value">
                            {{detailOfBuilding.planCountVisits || '-'}}
                        </div>
                    </div>
                    
                </div>

                <div style="display: flex;
                flex-direction: row;">

                    <div class="option-container" style="width: 160px;">
                        <div class="record-container p-16">
                            <mat-icon  class="option-icon">bar_chart</mat-icon> 
                            <label>Этажей</label>   
                        </div>
                        <div class="option-value">
                            {{detailOfBuilding.floors || '-'}}
                        </div>
                    </div>

                    <div class="option-container">
                        <div class="record-container p-16">
                            <mat-icon  class="option-icon">crop_square</mat-icon> 
                            <label>Общая площадь, кв.м.</label>   
                        </div>
                        <div class="option-value">
                            {{detailOfBuilding.totalArea || '-'}}
                        </div>
                    </div>
                    
                </div>

                <div class="option-container">
                    <div class="record-container p-16">
                        <mat-icon  class="option-icon">location_on</mat-icon> 
                        <label>Адрес</label>   
                    </div>
                    <div class="option-value">
                        {{detailOfBuilding.address || '-'}}
                    </div>
                </div>

                <div class="option-container">
                    <div class="record-container p-16">
                        <mat-icon  class="option-icon">access_time</mat-icon> 
                        <label>Время работы</label>   
                    </div>
                    <div class="option-value">
                        {{detailOfBuilding.worktime || '-'}}
                    </div>
                </div>

                <div class="option-container">
                    <div class="record-container p-16">
                        <mat-icon  class="option-icon">phone</mat-icon> 
                        <label>Телефон</label>   
                    </div>
                    <div class="option-value">
                        {{detailOfBuilding.phone || '-'}}
                    </div>
                </div>

                <div class="option-container">
                    <div class="record-container p-16">
                        <mat-icon  class="option-icon">email</mat-icon> 
                        <label>Электронная почта</label>   
                    </div>
                    <div class="option-value">
                        {{detailOfBuilding.email || '-'}}
                    </div>
                </div>

                <div class="option-container">
                    <div class="record-container p-16">
                        <mat-icon  class="option-icon">link</mat-icon> 
                        <label>Официальный сайт</label>   
                    </div>
                    <div class="option-value">
                        <ng-container *ngIf="detailOfBuilding.site">
                            <a [href]="detailOfBuilding.site" target="_blanck" class="no-wrap-text">{{detailOfBuilding.site}}</a>
                        </ng-container>
                        <ng-container *ngIf="!detailOfBuilding.site">-</ng-container>
                    </div>
                </div>

                <div class="option-container">
                    <div class="record-container p-16">
                        <mat-icon  class="option-icon">assignment</mat-icon> 
                        <label>Электронная регистратура</label>   
                    </div>
                    <div class="option-value">
                        <ng-container *ngIf="detailOfBuilding.eregistryUrl">
                            <a [href]="detailOfBuilding.eregistryUrl" target="_blanck" class="no-wrap-text">{{detailOfBuilding.eregistryUrl}}</a>
                        </ng-container>
                        <ng-container *ngIf="!detailOfBuilding.eregistryUrl">-</ng-container>  
                    </div>
                </div>

            </div>
        </div>
    </mat-card-content>
</mat-card>