mat-card{
    padding: 16px 0 0 0 !important;
    height: 500px;
}

.icon {
    padding: 4px 4px 4px 0;
}
.main {
    font-size: 16px;
}
.second {
    font-size: 14px;
}
.option-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 2px;
}
.option-container > .record-container {
    align-items: flex-start;  
}
.record-container > label {
    font-size: 12px;
    color: rgba(0,0,0,0.6);
}
.option-value {
    padding: 0 16px 0 44px;
    margin-top: -24px;
}
.option-icon {
    padding-top: 20px;
    font-size: 18px;
}
.options-lest {
    overflow: hidden;
}

.mat-card-avatar {
    border-radius: 50%;
    object-fit: cover;
    order: -1;
    width: initial;
    height: initial;
    margin: -8px 0 0 16px;
}
.mat-card-avatar > img {
    margin-top: 8px;
}
.mat-card-subtitle{
    margin-bottom: 0 !important;
}

.mat-card-content{
    max-height: 456px;
    /* overflow-y: auto; */
}
.image-container {    
    /* background-image: url('/assets/img/црб.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50px; 
    width: 50px;
    border-radius: 50%;
    /* display: flex;
    flex-direction: row; */
}
.title-text {
    align-self: flex-end;
    background-color: #ffffffcf;
    padding: 2px 16px;
}