<mat-card>
    <mat-card-header [ngClass]="{ 'popup-detail-fix': usageType}">
        <mat-card-title>{{title}}</mat-card-title>
    
            <mat-card-subtitle *ngIf="usageType">{{usageType.name}}</mat-card-subtitle>
            <div class="mat-card-avatar" *ngIf="usageType">
                <img [src]="icons[usageType.id]" alt="">
            </div>
            
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
        <ng-container *ngFor="let item of organizations">

            <div class="record-container p-16 pt-8" 
                [matTooltip]="item.organization.name"
                matTooltipPosition="right"
            >
                <div class="text-container main"> 
                    <div class="no-wrap-text">
                        <u>{{item.organization.name}}</u>
                    </div>
                </div>
            </div>

            <div>
                <div class="record-container active p-16" 
                    *ngFor="let build of item.buildings"
                    [matTooltip]="build.name"
                    matTooltipPosition="right"
                    (click)="onSelectBuilding(item.organization, build)"
                    
                > 
                    <ng-container *ngIf="build.usageTypeId">
                        <img class="in-list-icon" [src]="icons[build.usageTypeId]" alt="">
                    </ng-container>
                    
                    <div class="text-container second"> 
                        <div class="no-wrap-text">
                            <ng-container *ngIf="!build.usageTypeId"> • </ng-container> {{build.name}}
                        </div>
                    </div>
                    <mat-icon  class="icon">keyboard_arrow_right</mat-icon>
                </div>
            </div>
            
        </ng-container>

        <div class="record-container p-16 pt-8" *ngIf="organizations && !organizations.length">
            Информации не найдено
        </div>
    </mat-card-content>
</mat-card>